<div class="post" [id]="post.postTitle.split(' ')[0]">
    <p class="post-title">
      {{ post.postTitle }}
    </p>
    <div class="post-content">
      <p class="content-one">
        {{ post.contentOne }}
      </p>
      @if (post.contentSource) {
        <a [href]="post.contentSource" class="table-source-link">
          {{ post.contentSourceText }}
        </a>
      }
      @if (post.contentOneExample) {
        <p class="content-one-example">
          {{ post.contentOneExample }}
        </p>
      }
      @if (post.topPics) {
        <div class="mid-pics-container">
          @for (pic of post.topPics; track pic) {
            <img [src]="topPicSource(pic, 'small')" alt="Mid-pic" class="mid-pic" (click)="openPic(pic)">
          }
          @if (post.topPics.length % 2 !== 0) {
            <img src="" class="mid-pic">
          }
        </div>
      }
      <div id="lightbox-{{post.id}}" class="lightbox-container animate" (click)="closePic()">
        <img [src]="lightBoxPic" alt="Lightbox-pic" class="lightbox-pic">
      </div>
      <p class="content-two">
        {{ post.contentTwo }}
      </p>
      @if (post.midPicsOne) {
        <div class="mid-pics-container">
          @for (pic of post.midPicsOne; track pic) {
            <img [src]="topPicSource(pic, 'small')" alt="Mid-pic" class="mid-pic" (click)="openPic(pic)">
          }
          @if (post.midPicsOne.length % 2 !== 0) {
            <img src="" class="mid-pic">
          }
        </div>
      }
      <p class="content-three">
        {{ post.contentThree }}
      </p>
      <p class="content-four">
        {{ post.contentFour }}
      </p>
      @if (post.tableData) {
        <table>
          <tr>
            @for (header of post.tableData.headers; track header) {
              <th>{{ header }}</th>
            }
          </tr>
          @for (row of post.tableData.rows; track row) {
            <tr>
              @for (rowItem of row; track rowItem) {
                <td>{{ rowItem }}</td>
              }
            </tr>
          }
        </table>
      }
      @if (post.tableSource) {
        <p class="table-source-text">
          Source for table and additional info:
        </p>
        <a [href]="post.tableSource" class="table-source-link">
          {{ post.tableSourceText }}
        </a>
      }
    </div>
  </div>
