.post {
    font-family: arial,helvetica,sans-serif;
    border-bottom: 1px solid #44444d;
    padding: 1em 0;
    &-title {
        color: #b294bb;
        font-weight: 700;
        font-size: 1em;
    }
    &-content {
        color: #c5c8c6;
        p {
            line-height: 1.2;
        }
        table {
            th, td {
                border: 1px solid #44444d;
                padding: 0.5em;
                text-align: center;
            }
            tr {
                td:first-child {
                    font-weight: bold;
                }
            }
        }
        .table-source-text {
            margin-bottom: 0;
        }
        .table-source-link {
            color: #81a2be;
            &:hover {
                color: #5f89ac;
            }
        }
    }
}